homewifi_ssid: "YourSSIDHere"
wifi_password: "YourWiFiPasswordHere"
ota_password: "YourOTAPasswordHere"
syslog_ip: "192.168.1.100"
syslog_port: "514"
influxdb_host: "192.168.1.100"
influxdb_port: "8089"